In [2]:
# Q.1 DISPLAY the top five and last five rows of the dataset and return the number of rows and column

import pandas as pd 
import numpy as np

In [ ]:
df.head()
df.tail()
df.shape

In [ ]:
# Q.2 rename the column city to hostcity
df.rename(columns={'city'.'hostcity'})

In [ ]:
#Q.3 PRINT THE DETAIL ABOUT ALL THE NUMERICAL COLUMNS IN THE DATAFRAME
df.describe()

In [ ]:
#Q.4 print the concise summary of the dataframe
df.info()

In [5]:
#Q.5 print the col team 1,team 2,winner and win_by_runs and win_by_wickets
df1=df[['team1','team2','winner','win_by_runs','win_by_wickets']]
df1

NameError: name 'df' is not defined

In [ ]:
# Q.6 write the program to extract the first three rows and three columns
df.iloc[0:3,0:3]

In [ ]:
#Q.7 find the mean of win_by_wickets
 df['win_by_wickets'].mean()