In [4]:
# Q.1 CREATE A series containing element 5,10,15,20,25 fetch elelment from index position 1 and 3
import pandas as pd
s1=pd.Series([5,10,15,20,25])
print(s1[1],s1[3])

10 20

In [ ]:
#Q.2 Write th ecode to import data using pandas
#A. FROM A CSV FILE
#B. FROM AN EXCeL FILE

df_csv=pd.read_csv('bmi.csv')

df_excel=pd.read_excel('bmi.xlsx')

In [9]:
#Q.3 CREATE THREE column containing marks of subject phy chem and math for three student copy the 
# dataframe and then display it 

import pandas as pd
import numpy as np

df=pd.DataFrame({'physics':[78,85,86],
'chemistry':[84,94,89], 'math':[86,97,96]});
print(df)

df_new=df.copy()
print(df_new)

   physics  chemistry  math
0       78         84    86
1       85         94    97
2       86         89    96
   physics  chemistry  math
0       78         84    86
1       85         94    97
2       86         89    96

In [10]:
#Q.4 write a programe to create dataframe of cities using a list of list 
data2=[['pune'],['indore'],['mumbai']]
print(type(data2))
print(data2)

<class 'list'>
[['pune'], ['indore'], ['mumbai']]