In [2]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

$Problem Statement$<br>
Determine if there is evidence to conclude that the mean number of vacations taken by
married individuals is less than the number taken by single/divorced individuals using the
data in the CSV file Vacation Survey. Use a level of significance of 0.05. Would your
conclusion change if the level of significance is 0.01?

In [4]:
vacation_df = pd.read_csv("Vacation Survey.csv")
vacation_df.head()

   Age  Gender Relationship Status   Vacations per Year  Number of Children
0   24    Male             Married                    2                   0
1   26  Female             Married                    4                   0
2   28    Male             Married                    2                   2
3   33    Male             Married                    4                   0
4   45    Male             Married                    2                   0

In [5]:
df_1 = vacation_df[vacation_df['Relationship Status'] == 'Married'][' Vacations per Year']
df_2 = vacation_df[vacation_df['Relationship Status'] == 'Single/Divorced'][' Vacations per Year']

In [9]:
# t-test
stat, p = ttest_ind(df_1, df_2)
print('Statistics=%.3f, p=%.3f' % (stat, p))
# interpret
alpha = 0.05
if p > alpha:
 print('Same distributions (fail to reject H0)')
else:
 print('Different distributions (reject H0)')

Statistics=-2.267, p=0.030
Different distributions (reject H0)

In [10]:
# cross check
(df_1.mean(), df_2.mean())

(2.4166666666666665, 3.9)

$Conclusion :-$
- Here p-value is less than 0.05 so we reject null hypothesis at 5% level of significance. 
- Hense we can say that mean number of vacations taken by married individuals is less than the number taken by single/divorced individuals.
- Conclusion can be change for level of significance=0.01. Here we failing to reject null hypothesis at 1% level of significance.