In [11]:
#Q.1 write pandas programe to split the following dataframe by school code and get mean max
#.min value of age for each school
import pandas as pd
import numpy as np
student_data=pd.DataFrame({'school_code':['s001','s002','s003','s001','s002','s004'],
                          'class':['v','v','vi','vi','v','vi'],
                          'name':['alberto franco','gino mcneil','ryan parkes','eesha hinton','gino mneil','david parkes'],
                          'date_of_birth':['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
                          'age':[12,12,13,13,14,12],
                          'height':[173,192,186,167,151,159],
                          'weight':[35,32,33,30,31,32],
                          'address':['street1','street2','street3','street1','street2','street4']},
                         index=['s1','s2','s3','s4','s5','s6'])

grouped_single=student_data.groupby('school_code').agg({'age':
                                                      ['mean','min','max']})
print(grouped_single)

              age
             mean min max
school_code
s001         12.5  12  13
s002         13.0  12  14
s003         13.0  13  13
s004         12.0  12  12

In [4]:
#Q.2 write pandas programe to split the following dataframe by school code and get 
# median,variance and standard deviation of age forf each school

student_data=pd.DataFrame({'school_code':['s001','s002','s003','s001','s002','s004'],
                          'class':['v','v','vi','vi','v','vi'],
                          'name':['alberto franco','gino mcneil','ryan parkes','eesha hinton','gino mneil','david parkes'],
                          'date_of_birth':['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
                          'age':[12,12,13,13,14,12],
                          'height':[173,192,186,167,151,159],
                          'weight':[35,32,33,30,31,32],
                          'address':['street1','street2','street3','street1','street2','street4']},
                         index=['s1','s2','s3','s4','s5','s6'])


grouped_single=student_data.groupby('school_code').agg({'age':
                                                      ['median','std','var']})
print(grouped_single)

               age
            median       std  var
school_code
s001          12.5  0.707107  0.5
s002          13.0  1.414214  2.0
s003          13.0       NaN  NaN
s004          12.0       NaN  NaN

In [5]:
# Q.3 write pandas program to split the following dataframe into groups by school
#code and get mean min and max value of age with customised column name for each school

pd.set_option('display.max_rows',None)
student_data=pd.DataFrame({'school_code':['s001','s002','s003','s001','s002','s004'],
                          'class':['v','v','vi','vi','v','vi'],
                          'name':['alberto franco','gino mcneil','ryan parkes','eesha hinton','gino mneil','david parkes'],
                          'date_of_birth':['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
                          'age':[12,12,13,13,14,12],
                          'height':[173,192,186,167,151,159],
                          'weight':[35,32,33,30,31,32],
                          'address':['street1','street2','street3','street1','street2','street4']},
                         index=['s1','s2','s3','s4','s5','s6'])
print('\nmean,min,and max value of age for each school with customised column names:')
grouped_single=student_data.groupby('school_code').agg(age_mean=('age','mean'),age_max=('age',max),age_min=('age',min))
print(grouped_single)

mean,min,and max value of age for each school with customised column names:
             age_mean  age_max  age_min
school_code
s001             12.5       13       12
s002             13.0       14       12
s003             13.0       13       13
s004             12.0       12       12

In [19]:
#Q.4 CALCULATE THE RANK FOR THE ABOVE DATAFRAME
import pandas as pd
import numpy as np
df=pd.DataFrame(data={'animal':['fox','kangaroo','deer','spider','snake'],
                     'number_legs':[4,2,4,8,np.nan]})
print(df)

df['default_rank']=df['number_legs'].rank()

     animal  number_legs
0       fox          4.0
1  kangaroo          2.0
2      deer          4.0
3    spider          8.0
4     snake          NaN