In [1]:
# Q.1 reverse a given list in python
#aLsit=[100,200,300,400,500]
aLsit=[100,200,300,400,500]
aLsit=aLsit[::-1]
print(aLsit)

[500, 400, 300, 200, 100]

In [2]:
# Q.2 CONCATENATE TWO LIST INDEX-WISE
list1=["M","na","i","Raj"]
list2=["y","me","s","esh"]
list3=[]
for i in range(len(list1)):
    list3.append(list1[i]+list2[i])
    print(list3)

['My']
['My', 'name']
['My', 'name', 'is']
['My', 'name', 'is', 'Rajesh']

In [4]:
# Q.3 MERGE FOLLOWING TWO PYTHON DICTIONARIES INTO ONE
dict1={'ten':10,'twenty':20,'thirty':30}
dict2={'thirty':30,'fourty':40,'fifty':50}
dict3={**dict1,**dict2}
print(dict3)

{'ten': 10, 'twenty': 20, 'thirty': 30, 'fourty': 40, 'fifty': 50}

In [5]:
#Q.4 GIVEN A PYTHON LIST,REMOVE ALL OCCURRENCE OF 20 FROM THE LIST
list1=[5,20,15,20,25,50,20]
def removevalue(samplelist,val):
    return[value for value in samplelist if value !=val]
reslist=removevalue(list1,20)
print(reslist)

[5, 15, 25, 50]

In [6]:
#Q.5 HOW TO REMOVE DUPLICATE FROM A LIST OF TUPLES USING THE LIST COMPREHENSION TECHNIQUE
list_of_tuple=[("c#",1),("c#",1),("c++",3),("c++",3),("python",25),("rust",30)]
unique_list_of_tuple=list(set([item for item in list_of_tuple]))
print(unique_list_of_tuple)

[('python', 25), ('c++', 3), ('rust', 30), ('c#', 1)]

In [7]:
# Q.6 WHAT WILL BE THE OUTPUT OF THE FOLLOWING CODE SNIPPET
arr=[[1,2,3,4,],
    [4,5,6,7],
    [8,9,10,11],
    [12,13,14,15]]
for i in range(0,4):
    print(arr[i].pop())

4
7
11
15

In [9]:
#Q.7 GET THE NUMBER OF ITEM IN SET
THISSET={"APPLE","BANANA","CHERRY"}
len(THISSET)

3

In [12]:
# Q.8 CHECK IF  APPLE IS PRESENT IN THE FRUIT SET USING THE MEMBERSHIP TEST METHOD
FRUITS={"APPLE","BANANA","CHERRY"}
if "APPLE" in FRUITS:
    print("YES,APPLE IS A FRUIT!")

YES,APPLE IS A FRUIT!

In [14]:
# Q.9 USE THE CORRECT METHOD TO ADD MORE FRUITS TO THE FRUIT SET
FRIUTS={"APPLE","BANANA","CHERRY"}
MORE_FRUITS=["ORANGE","MANGO","GRAPES"]
FRUITS.update(MORE_FRUITS)
FRUITS

{'APPLE', 'BANANA', 'CHERRY', 'GRAPES', 'MANGO', 'ORANGE'}

In [16]:
#Q.10 DISPLAY ALL THE KEYS WITH VALUE 200 FROM THE FOLLOWING DICTIONARY
sampledict={'a':100,'b':200,'c':300,'d':200}
val=200
for k in sampledict.keys():
    if sampledict[k]==val:
        print(k,">",sampledict[k])

b > 200
d > 200