In [2]:
 #Q.1 sum of j and k and product of j and k
j=37
k=52
print(j+k)
print(j*k)

89
1924

In [1]:
#Q.2 calculate number of minutes in year
days=365
hours=24
mins=60
mins_in_year=days*hours*mins
print("number of minutes in a year=",mins_in_year)

number of minutes in a year= 525600

In [2]:
#addition
a=6
b=7
print(a+b)

13

In [3]:
#subtraction
a=6
b=7
print(a-b)

-1

In [6]:
#division
a=6
b=7
print("division=",a/b)
print("multipication=",a*b)
print("floor_division=",a//b)
print("modulus=",a%b)
print("exponetial=",a**b)

division= 0.8571428571428571
multipication= 42
floor_division= 0
modulus= 6
exponetial= 279936

In [1]:
batch="5 girls 3 boys in class" 
print(len(batch))
#code to get 5 girls from the string
girls=batch[0:8]
print(girls)
#code to get 3 boys in class
print(batch[8:])

23
5 girls
3 boys in class

In [2]:
#write code to get these output
#a.kbeydA
#b.SilAaey
s="Skill Academy testbook"
print(s[-1:5:-3])
print(s[0:13:2])

kbeydA
SilAaey

In [3]:
s="$"
print(s*20)

$$$$$$$$$$$$$$$$$$$$

In [11]:
#Q.7 take input of the first number and store it in variable
num_1=input("enter the first number")
# take input of the second number and store it in variable
num_2=input("enter the second number")
product=(int(num_1)*(num_2))
print(product)

enter the first number45
enter the second number2
222222222222222222222222222222222222222222222

In [5]:
#Q.8 concatenate and print the result
string1=("welcome to data science with python")
string2=("coding practice session")
print(string1+ string2)

welcome to data science with pythoncoding practice session