In [1]:
#Q.1 create a child calss bus that will inherit all the variable and methods of the vehicle class
class vehicle:

    def _init_(self,name,max_speed,mileage):
        self.name=name
        self.max_speed=max_speed
        self.mileage=mileage

In [5]:
#Q.2 write a simple python class named student and display its type .also display the  _dict_ attrribute keys and the value of module attribuite of student class
class student:
    pass
print(type(student))
print(student._dict_.keys())
print(student._module_)

<class 'type'>

AttributeError: type object 'student' has no attribute '_dict_'

In [7]:
# Q.3 write python class named student with two attribute student _id,student_name.add new attribute student_class.create function to display the entire attribute and their values in student class
class student:
    student_id='V10'
    student_name='jacqueline barnett'
    def display():
        print('studdent_id:{student.student_id}\nstudent name:{student.student_name}')
        print("original attributes and their values of the student class:")
        student.display()

In [8]:
#Q.4 with two instances student 1 stdent 2 and assign to said instance attribute print attrubute PRINT  all the atrribute of sudent1 student2 with their values in  
class student:
    school='skill academy'
    address='india'
    student1=student()
    student2=student()
    student1.student_id="v12"
    student1.student_name="ernesto mendez"
    student2.student_id="v12"
    student2.marks_language=85
    student2.marks_science=93
    student2.marks_math=95
    students=[student1,student2]
    for student in students:
        print('\n')
        for attr in student._dict_:
            print('{attr}->{getattr(student,attr)}')

AttributeError: 'student' object has no attribute '_dict_'

In [11]:
# Q.5define a book class with the followng attributes title,author price.define a constructor used to initialize the method with values entered by the user set the view method to display information for the cuurent book write program to test the boook class
class book:
    def _init_(self,title,author,price):
        self.title=title
        self.author=author
        self.price=price
        
    def view(self):
        return("book title:",self,title,"book author:",self.author,"book price:",self.price)
    
    
    my book=book ("python crash course","eric matthes","23$")
    print(mybook.view())
    #the output:('book title:','python crash course','book author:','eric matthes','book price','23$')

SyntaxError: invalid syntax (2105804413.py, line 12)